id: 557a4f2d-d472-4081-869e-85ffa08713fc
host: 0.0.0.0
port: 8080
logLevel: info
persistConfig: true
persistIndex: false
sources:
- kind: mock
  id: sensor-data
  autoStart: true
  dataType: sensor
  intervalMs: 2000
- kind: postgres
  id: app-database
  autoStart: true
  bootstrapProvider:
    kind: postgres
  host:
    kind: EnvironmentVariable
    name: POSTGRES_HOST
    default: localhost
  port: 5432
  database:
    kind: EnvironmentVariable
    name: POSTGRES_DB
    default: myapp
  user:
    kind: EnvironmentVariable
    name: POSTGRES_USER
    default: drasi_user
  password:
    kind: EnvironmentVariable
    name: POSTGRES_PASSWORD
    default: drasi_password
  tables:
  - users
  - orders
  - products
  slotName: drasi_cdc_slot
  publicationName: drasi_cdc_publication
  sslMode: prefer
  tableKeys:
  - table: users
    keyColumns:
    - id
  - table: orders
    keyColumns:
    - order_id
  - table: products
    keyColumns:
    - sku
- kind: postgres
  id: daniel-test3
  autoStart: true
  bootstrapProvider:
    kind: postgres
  host: localhost
  port: 5432
  database: test
  user: postgres
  password: test
  tables:
  - Freezer
  slotName: daniel_test_slot
  publicationName: rg_daniel_test3
  sslMode: prefer
  tableKeys:
  - table: Freezer
    keyColumns:
    - id
queries:
- id: freezer-warm
  autoStart: true
  query: "MATCH \n  (f:Freezer)\nWHERE drasi.trueFor(f.temp > 32, duration( { seconds: 10 } ))\nRETURN\n  f.id AS id,\n  f.temp AS temp\n"
  queryLanguage: Cypher
  middleware: []
  sources:
  - sourceId: daniel-test3
    nodes: []
    relations: []
    pipeline: []
  enableBootstrap: true
  bootstrapBufferSize: 10000
reactions: []
instances: []
